---
import "./style.css";
---

<!doctype html>
<html>
  <head>
	<meta charset="utf-8" />
	<title>About Me</title>
  </head>
  <body>
    <div class="about-container">
	  <h1>About Me</h1>
	  <p>Who am i to be exact?</p>
	  <p>I am Ahyan Z (Ahyan Zaman), you can call me AZ, Kazuno, stellarcapricorn or MiracleNoir,</p>
	  <p>             </p>
	  <p> Here are some things I like</p>
	  <ul>
		<li>Food: I really love food, especially my Mothers, It brings me to a sense of “this is your safe place” i also like other foods (a lot actually, i can’t name them)</li>
		<li>Retro tech: I love exploring the 2000’s and see how was the internet like before, most people say they liked that era, so i choose to explore it, and see any revivals.</li>
		<li>General Tech: Retro and General Tech are similar, but what i truly started with, was tech in general, i love watching Tech Creators like Mrwhosetheboss, i still watch them even today.</li>
		<li>Reading: I developed my passion with reading when i bought books from Amazon, I read stuff like Read Write Own (A book about Web3) and much more.</li>
		<li>Miraculous: It’s a Kids show, yes, but the humour is appealing to me, the memes i see, there are 16+ aged people who watch this kind of stuff, i also do like Miraculous Stellar force, an upcoming spinoff of Miraculous Ladybug set in Japan, I watched the Tokyo Special about it, the spinoff is next, and i can’t wait!</li>
	  </ul>
	  <p>Hopefully that Sums up about me, and elaborating on my Interests. See you on my blog posts!</p>
	</div>
  </body>
</html>
