---
import "./style.css";
---

<!doctype html>
<html>
  <head>
	<meta charset="utf-8" />
	<title>About Me</title>
  </head>
  <body>
    <div class="about-container">
	  <h1>About Me</h1>
	  <p>Who am i to be exact?</p>
	  <p>I am Ahyan Z (Ahyan Zaman), you can call me AZ, Kazuno, stellarcapricorn or MiracleNoir,</p>
	  <p>             </p>
	  <p> Here are some things I like</p>
	  <ul>
		<li>Food</li>
		<li>Retro tech</li>
		<li>General Tech</li>
		<li>Reading</li>
		<li>Miraculous</li>
	  </ul>
	  <p>Hopefully that Sums up about me, and elaborating on my Interests. See you on my blog posts!</p>
	</div>
  </body>
</html>
