---
import "./style.css";
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="img-center">
      <img src="src/Kazuno.jpg" alt="Kazuno.jpg" width="220" height="220" />
    </div>
    <h1>Ahyan Zaman</h1>
    <p>Below are my links here:</p>
    <a href="https://blog.azzyaz.net">Blog</a>
    <a href="https://c.im/@stellarx">Mastodon</a>
    <a href="https://bsky.app/profile/azzyaz.net">Bluesky</a>
    <a href=-"https://pin.it/1fG7TDmvq">Pinterest</a>
    <a href="https://github.com/meaz-html">Github</a>
    <a href="https://www.reddit.com/user/nostolga">Reddit</a>
    <a href="https://flickr.com/people/202513266@N03">Flickr</a>
    <a href="https://hjonk.me/@kazuno">Hjonk</a>
    <a href="https://crosstalk.im/profile/+stellarcapricorn">Crosstalk</a>
    <a href="http://ig.sfproj.xyz/Web/Post.php?ld=19152">Retrogram</a>
    <a href="https://ivy.a1429.lol/users/2531">Ivy</a>
    <a href="https://escargot.chat/+miraclenoir/profile/">Escargot</a>
    <a href="https://spacehey.com/stellarx">SpaceHey</a>
    <a href="https://friendica.hubup.pro/profile/stellarcapricorn">Friendica</a>
    <a href="https://lemmy.ml/u/stellarx">Lemmy</a>
    <a href="https://gram.social/stellarcapricorn">PixelFed</a>
    <a href="https://iviv.hu/people/0314e4a0b477013d32f8723c915ba918">Diaspora</a>
    <a href="https://off---line.com/login?redirect=%2Fprofile%3Fid%3D5369">Off---Line</a>
    <a href="https://www.last.fm/user/miraclenoir">Last.fm</a>
  </body>
</html>
