---
import "./style.css";
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="img-center">
      <img src="https://res.cloudinary.com/dnkm8pijh/image/upload/v1774101096/Kazuno_a9uflw.webp" alt="Kazuno" width="220" height="220" />
    </div>
    <h1>Ahyan Zaman</h1>
    <a href="/about">About</a>
    <p>Below are my links here:</p>
    <a href="https://blog.azzyaz.net">Blog</a>
    <a href="https://gitlab.com/meaz-html">Gitlab</a>
    <p>Brought to you by Astro and Simple HTML</p>
    <p>&copy; 2026 Ahyan Zaman</p>
  </body>
</html>
