---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('Just so you know, its running now!');
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <h1>Azzy.</h1>
    <p>Welcome to the barebones of whats next (or not)</p>
    <p>This will be the offical home for my links and where you can find me, otherwise this will be the new home of my blog, I havent really decided yet, so circumstances will change, thank you for your understanding.</p>
    <a href="https://blog.azzyaz.net">Meanwhile, you can go to my blog!, you will see a lot of stuff there than here</a>
     <p>         </p>   
    <a href ="/test">oo Whats this?</a>
  </body>
</html>
<style>
  h1 {
    color: rgb(0, 0, 0);
  }
</style>