---
import "./style.css";
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="img-center">
      <img src="https://res.cloudinary.com/dnkm8pijh/image/upload/v1774101096/Kazuno_a9uflw.webp" alt="Kazuno" width="220" height="220" />
    </div>
    <h1>Ahyan Zaman</h1>
    <a href="/about">About</a>
    <p>Below are my links here:</p>
    <a href="https://blog.azzyaz.net">Blog</a>
    <a href="https://gitlab.com/meaz-html">Gitlab</a>
    <p>Brought to you by Astro and Simple HTML</p>
    <p>&copy; 2026 Ahyan Zaman</p>
    <p>PS: You are looking at a demo site for SimpleLinks, a simple HTML template for Astro with a sprinkle of CSS. If you want to see my (Ahyan Z's) full links, please head over to azzyaz.net, alternatively, please head over to https://github.com/meaz-html/SimpleLinks If you want to host your own version with Astro.<p>
  </body>
</html>
